/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #007bff;
}

main {
  flex: 1;
  padding: 20px;
  min-height: 80vh;
}

footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #dee2e6;
}

h1 {
  color: #333;
}

p {
  color: #666;
}

.active {
  text-decoration: underline;
  color: #333;
} */


* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: rgb(231, 229, 229);
  --secondary-color: orange;
  --text-dark: black;
  --text-light: white;
  --extra-color-red: red;
  /* --max-width: 100vh; */
}

a {
  text-decoration: none;
}

html,
body {
  height: 100vh;
  font-size: 1rem;
  /*16px*/
}

/* header and navigation menu part */
.header {
  min-height: 10vh;
  width: 100%;
}

#current a {
  color: var(--secondary-color);
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
}

.nav_content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}

nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

/* using the class .nav-links is better than using nav*/
ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

/* .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
} */

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

/* ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: var(--extra-color-red);
    display: block;
    margin: auto;
    transition: 0.5s;
} */

ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
}

/* The body part---background color*/
.main-content {
  background-color: var(--primary-color);
  /* background-image: url(images/EasterEgg/EasterEgg1.png); */
}

/*--------------------------Home Page---------------------------------------------------*/

.main-container-Home {
  min-height: 100vh;
  /* max-width: var(--max-width); */
  width: 90%;
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-container h1 {
  letter-spacing: 2px;
  font-weight: 400;
  /*font-size: 80px;*/
  font-size: 3.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.left-container h2 span {
  color: var(--secondary-color);
  font-weight: 600;
  line-height: 3rem;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.left-container p {
  font-weight: 400;
}

.left-container a {
  background: var(--text-dark);
  padding: 10px 18px;
  text-decoration: none;
  font-weight: bold;
  color: var(--text-light);
  display: inline-block;
  margin: 30px 0;
  border-radius: 5px;
}

.right-container {
  background-image: url(images/Homepage/green\ background.png);

  display: grid;
  place-items: center;
}

.image {
  display: grid;
  align-self: center;
  justify-self: center;
  width: 75%;
}

.image img {
  width: min(25rem, 90%);
  border-radius: 100%;

}

/*-----------for the secrect module in the Home page------------------*/
.surpriseModule {
  display: none;
  position: fixed;
  top: 20rem;
  left: 3.9rem;
  width: 42%;
  height: 50%;
  background-image: url(images/EasterEgg/EasterEgg2.png);
}

.module-content {
  background-color: khaki;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 76%;
  transform: translate(-50%, -50%);
}

#close-icon {
  font-size: 1.5rem;
  cursor: pointer;
}


/*----------------------Portfolio-------------------------------------*/
/*If have time, to set the demo video part*/
.portfolio {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 6rem;
}

.portfolio .title {
  font-size: 2rem;
  line-height: 4rem;
}

.portfolio .subtitle {
  font-size: 1.5rem;
  line-height: 4rem;
}

.portfolio p strong {
  color: var(--secondary-color);
}

.row {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
  justify-content: space-around;
}

.portfolio-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.portfolio-col p {
  font-weight: 600;
  line-height: 4rem;
}

.portfolio-col img {
  width: 100%;
  display: block;
  min-height: 28rem;
}

.portfolio-col .layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.portfolio-col .layer:hover {
  background: rgba(241, 164, 76, 0.7)
}

.portfolio-col .layer h3 {
  width: 100%;
  font-weight: 500;
  color: #ffffff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.portfolio-col .layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

/*-----------------------Portfolio-detail part----------------------*/
.portfolio-detail {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
  justify-content: space-around;
}

.project-row {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 4rem 0rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 4rem;
}

.project-row img {
  width: 100%;
  display: block;
  min-height: 15rem;
}

.project-row .description p {
  text-align: justify;
  line-height: 1.5rem;
  padding: 4rem 0rem;
}

.project-row .description .action-links a {
  padding: 5px 18px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin: 15px 0;
  border-radius: 5px;
}

#music-pic1,
#bank-pic1,
#ball-pic1 {
  display: block;
}

.music-pic:target,
.bank-pic:target,
.ball-pic:target {
  display: block;
}

.music-pic:target~.music-pic,
.bank-pic:target~.bank-pic,
.ball-pic:target~.ball-pic {
  display: none;
}


/*---------------------------CV-------------------------------------*/
.cv-container {
  width: 80%;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem 2rem 2rem;
}

.cv-container a {
  background: var(--text-dark);
  padding: 1em 2em;
  text-decoration: none;
  font-weight: bold;
  color: var(--text-light);
  display: inline-block;
  margin: 2em 0;
  border-radius: 5px;
  position: relative;
  /* left: 30rem; */
}

.cv-container p {
  font-size: 1rem;
}

.education {
  width: 100%;
  text-align: justify;
  padding: 1rem 2rem;
}

.experience {
  width: 100%;
  text-align: justify;
  padding: 2rem 2rem;
}

.para {
  line-height: 1.6rem;
}

.timeline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1.1rem;
}

.right-title {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  position: relative;
  color: lightseagreen;
}

.right-title::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 0.2rem;
  background-color: var(--secondary-color);
  border-radius: 12px;
  right: -30%;
  top: 50%;
  transform: translateX(-50%);
}

.tl-title {
  letter-spacing: 1px;
  font-size: 1.1rem;
  color: var(--text-dark);
  text-transform: uppercase;
}

.tl-title-2 {
  letter-spacing: 1px;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: lightseagreen;
  position: relative;
}

.tl-content {
  border-left: 2px solid var(--secondary-color);
  padding-left: 3rem;
  position: relative;
  padding-bottom: 2rem;
}

.tl-title-2::before {
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 0.6rem;
  background-color: var(--secondary-color);
  border-radius: 50%;
  transform: translateX(-50%);
  left: -3rem;
}

/*----------------------About Me-------------------------------------*/
.about-container {
  width: 80%;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem 2rem 2rem;
}

.title-container {
  width: 60%;
  text-align: justify;
  padding: 3rem 2rem;
}

.title-container h1 {
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
}

.title-container h1 span {
  color: var(--secondary-color);
  font-weight: 600;
}

.skill-container {
  display: flex;
  width: 80%;
  border-radius: 20px;
  gap: 2rem;
  align-items: center;
  padding: 1rem;
  background-color: rgb(242, 230, 211);
}

.skill-container .icons {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-color);
  border-radius: 50%;
  font-size: 1rem;
}

.skill-container .frontend {
  margin-top: 1rem;
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px var(--secondary-color) solid;
}

.skill-container .frontend h1,
.skill-container .backend h1 {
  font-size: 500;
  margin: 1rem 1rem;
}

.skill-container .frontend .description,
.skill-container .backend .description {
  width: 80%;
  line-height: 1.5rem;
  padding: 1rem 1rem;
}

.skill-container .frontend .language,
.skill-container .frontend .tools,
.skill-container .backend .language,
.skill-container .backend .tools {
  color: blue;
  line-height: 1.5rem;
  padding: 1rem 1rem;
}

.skill-container .frontend ul,
.skill-container .backend ul {
  display: flex;
  flex-direction: column;
}

.skill-container .backend {
  margin-top: 1rem;
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*----------------------Contact-------------------------------------*/

.contact {
  width: 80%;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 4rem;
}

.contact .content {
  padding-top: 5rem;
}

.contact .content h1 {
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
}

.contact .content p {
  width: 100%;
  text-align: justify;
  line-height: 1.5rem;
  padding: 2rem 0rem;
}

.contact .container {
  width: 100%;
  display: flex;
  /* padding: 4rem 2rem; */
}

.container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.container .contactInfo .box {
  position: relative;
  padding: 1rem 0;
  display: flex;
}

.container .contactInfo .box .icons {
  min-width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-color);
  border-radius: 50%;
  font-size: 1rem;
}

.container .contactInfo .box .text {
  display: flex;
  margin-left: 1rem;
  font-size: 1rem;
  flex-direction: column;
}

.container .contactInfo .box .text h3 {
  font-weight: 500;
}

.container .contactForm {
  width: 60%;
  padding: 1rem;
}

.container .contactForm h2 {
  font-size: 2rem;
  font-weight: 500;
}

.container .contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 1rem;
}

.container .contactForm .inputBox input,
.container .contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.container .contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.container .contactForm .inputBox input:focus~span,
.container .contactForm .inputBox input:valid~span,
.container .contactForm .inputBox textarea:focus~span,
.container .contactForm .inputBox textarea:valid~span {
  color: lightcoral;
  font-size: 12px;
  transform: translateY(-2rem);
}

.container .contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: var(--secondary-color);
  color: #333;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}


/*----------------Responsive design--------------*/

@media(max-width: 750px) {
  nav .checkbox {
    display: block;
  }

  nav ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 8rem - 2rem);
    left: -100%;
    top: 8rem;
    background-color: var(--primary-color);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked~ul {
    left: 0;
  }

  nav ul li a {
    font-size: 1.25rem;
  }

  /*-----for homepage only--------*/

  .main-container-Home {
    padding: 6rem 1rem 0rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .right-container {
    grid-area: 1/1/2/2;
    justify-content: center;
  }

  .left-container {
    /* padding: 0rem 1rem 4rem 1rem */
  }

  .left-container H1 {
    font-size: 2em;
    font-weight: 600;
  }

  .left-container H2 span {
    font-size: 1em;
    line-height: 1em;
  }

  .left-container p {
    font-size: 1em;
  }

  /*-----for portfoilo only--------*/
  .row {
    flex-direction: column;
  }

  .portfolio .subtitle {
    font-size: 1rem;
  }

  .portfolio-col img {
    min-height: 15rem;
  }

  .project-row {
    display: flex;
    flex-direction: column;
  }


  /*-----for CV only--------*/
  .timeline {
    grid-template-columns: repeat(1, 1fr);
  }

  .cv-container p {
    font-size: 0.8em;
  }

  .right-title::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 0.2rem;
    background-color: var(--secondary-color);
    border-radius: 12px;
    right: -30%;
    top: 50%;
    transform: translateX(-50%);
  }



  /*-----for ABOUT ME only--------*/

  .skill-container {
    flex-direction: column;
  }

  .skill-container .frontend {
    border-bottom: 1px var(--secondary-color) solid;
    border-right: none;
  }


  /*-----for CONTACT only--------*/
  .contact {
    padding: 50px;
  }

  .container {
    flex-direction: column;
  }

  .container .contactInfo {
    margin-bottom: 40px;
  }

  .container .contactInfo,
  .container .contactForm {
    width: 100%;
  }

  .contact .box .text p {
    font-size: 0.8em;
  }
}

@media(max-width: 460px) {

  /*-------------Home page-----------*/
  .right-container {
    max-width: 90%;
  }

  /*--------Contact-----------------*/
  .contact .box .text p {
    font-size: 0.8em;
  }
}

@media(max-width:300px) {
  .left-container H1 {
    font-size: 1.5em;
    font-weight: 600;
  }

  .left-container H2 span {
    font-size: 1 em;
    line-height: 1em;
  }

}


/*-------------footer--------------*/
.footer {
  width: 100%;
  text-align: center;
  padding: 12px 0;
}

.footer h4 {
  margin-top: 20px;
  margin-bottom: 25px;
  font-weight: 600;
}